<div class="container" [ngClass]="currentTheme()">
  <div class="output-area">
    <div class="calculations-display">
      @for (item of calculations; track $index) { {{ item.value }} }
    </div>
    <div class="results-display">{{ result }}</div>
  </div>
  <div class="controls-area">
    @for (control of controls; track $index) {
    <button (click)="handleClick(control.value)">
      {{ control.value }}
    </button>
    }
  </div>
  <div class="theme-switcher">
    <button (click)="toggleThemeSelector()">Change Theme</button>
  </div>

  @if (showThemeSelector) {
  <div class="theme-selector-modal">
    <div class="theme-options">
      @for (theme of themes; track $index) {
      <div class="theme-option" (click)="changeTheme(theme.className)">
        {{ theme.name }}
      </div>
      }
    </div>
    <div class="theme-button">
      <button (click)="toggleThemeSelector()">Close</button>
    </div>
  </div>
  }
</div>
