.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    app-calculator {
        height: 100%;
        width: 100%;
        min-height: 400px;
        max-height: 90vh;
        min-width: 300px;
        max-width: 600px;
    }

    @media (max-width: 600px) {
        app-calculator {
            height: 100vh;
            width: 100vw;
            min-height: unset;
            min-width: unset;
            border-radius: 0;
            max-height: 100vh;
            max-width: 100vw;
        }
    }
}